<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175139261417-ik8702qk7he7akci7vc0uq0ka15f2koi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175139261417-ik8702qk7he7akci7vc0uq0ka15f2koi</string>
	<key>API_KEY</key>
	<string>AIzaSyCKTctcssJLeEYGMpLVPm-aqVIui15iY1o</string>
	<key>GCM_SENDER_ID</key>
	<string>175139261417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vostore.compreaidelivery</string>
	<key>PROJECT_ID</key>
	<string>compreai-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>compreai-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175139261417:ios:0259727d3c5b6e30349978</string>
	<key>DATABASE_URL</key>
	<string>https://compreai-delivery.firebaseio.com</string>
</dict>
</plist>